/* 
    --primary-background-color: #2E3047
    --secondary-background-color: #43455C
    --light-background-color: #707793
    --bright-color: #3BBA9C
} */

.main {
  width: 50vw;
  background-color: #43455C;
}

.posts {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #3BBA9C;
  border-radius: 10px;
  box-shadow: 10px 8px 2px 1px rgba(0, 0, 0, 0.2);
}

.right_post_bar {
  display: "flex";
  flex-direction: 'column';
  width: 100%;
}

.posts img {
  border-radius: 50px;
  padding: 20px;
}

.posts input {
  margin-top: 7%;
  border:0;
  background-color: transparent;
  outline: 0;
}

.posts input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.tools {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex: 1;
}

.post_button_container {
  margin-top: 20px;
  width: 92%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post_button {
  width: 100px;
  padding: 10px 0;
  background-color: #707793;
  border-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.post_button:hover {
  cursor: pointer;
  background-color: #a0aad1;
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 15px;
}